extends layout

block content
	head
		title Sign In
	body
		.container-fluid.center
			h1 Welcome to Bumpit
		.container.center
			.row
				form(action="/login" method="post" name="login")

					.col-md-1.input-group
						input(type="text" name="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2")
					.col-md-1.input-group
						input(type="password" name="password" class="form-control" placeholder="Password")
					.col-md-1.input-group
						input(type="submit" class='btn btn-primary btn-md' value="Login")
		br

		.container.center
			.row
				form(action="/register" method="post" name="signup")

					.col-md-1.input-group
						input(type="text" name="fullname" class='form-control' placeholder="Full Name")
					.col-md-1.input-group
						input(type="text" name="username" class='form-control' placeholder="Username")
					.col-md-1.input-group
						input(type="text" name="email" class='form-control' class="form-control" placeholder="Email" aria-describedby="sizing-addon2")
					.col-md-1.input-group
						input(type="password" name="password" class='form-control' placeholder="Password")
					.col-md-1.input-group
						input(type="submit" class='btn btn-warning btn-md' value="Register")
	style.
		.center {
			float: none !important;
			margin: 0 auto;
			width: 700px;
		}
